
$scheduleColor: #3880ff;
ActionBar.schedule {
    background-color: $scheduleColor;
}
.myList {
    .wrap {
        background-color: #ffffff;
        padding-bottom: 0;
    }
}

.border-list {
    border-left-width: 3;
    border-color: #3bc7c4;
    margin: 0;
    // class="border-list sub"
    &.sub {
        color: rgba(0, 0, 0, 0.4);
    }
}
